/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

h1 {
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: black;
    font-family: "JetBrains Mono", sans-serif;
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: 90%;
}

.image {
    width: 90%;
    max-width: 20rem;
    height: auto;
    aspect-ratio: 4/5;
    border-radius: 2rem;
    background-image: url("../PICS&SHII/cat-flowers.gif");
    background-position: center;
    background-size: cover;
}

.btns {
    position: relative;
    width: 90%;
    max-width: 20rem;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 1rem 3rem;
    box-shadow: 39px 7px 8px 0px rgba(34, 60, 80, 0.2);
    border: none;
    border-radius: 10%;
    border: 1px solid gray;
    font-size: 1rem;
}

#yessir {
    margin-left: auto;
    background-color: #FFF;
    transition: 0.3s all ease-in-out;
}

body {
    background-color: rgba(216, 213, 8, 0.781);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#nooo {
    position: absolute;
    left: 0;
    transition: 0.2s all ease-in-out;
}

#yessir:hover {
    background-color: rgb(105, 128, 255);
}

p {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    max-width: 90%;
}

span {
    font-family: "Bodoni MT Black", sans-serif;
    color: rgb(0, 4, 255);
}

@media (max-width: 768px) {
    .btns {
        flex-direction: column;
        align-items: center;
    }
    button {
        margin: 0.5rem 0;
        width: 80%;
    }
    #yessir {
        margin-left: 0;
    }
}
